gradlew text eol=lf
*.sh text eol=lf
sales-and-inventory-management-system-182200-182209/mobile_frontend/gradlew text eol=lf
sales-and-inventory-management-system-182200-182209/mobile_frontend/ci-mobile.sh text eol=lf
sales-and-inventory-management-system-182200-182209/mobile_frontend/prepare-exec.sh text eol=lf
*.bat text eol=crlf
